.contenedor-cabecera-heroe {
  text-align: center;
}

.cabecera-superheroe {
  color: red;
  margin-top: 2em;
}

.contenedor-imagen {
  margin: 0 auto;
  text-align: center;
}

.img-super {
  max-width: 100%;
  max-height: 750px;
  margin: 3rem 0;
  border-radius: 10px;
}

.id,
.nombre,
.nombre-real {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.id__etiqueta,
.nombre__etiqueta {
  color: #546e7a;
  margin-right: .5rem;
}

.btn-detalles-heroe {
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .parrafo_heroe {
    display: inline-block;
  }
}
