<div *ngIf="heroe">
  <div class="contenedor-cabecera-heroe">
    <h2 class="cabecera-superheroe">{{heroe.nombre}}</h2>
  </div>
  <div class="contenedor-imagen">
    <img class="img-super" src="{{heroe.imagen2}}" alt="{{heroe.nombre}}">
  </div>
  <div class="id"><label class="id__etiqueta">Id: </label>{{heroe.id}}</div>
  <div class="nombre">
    <label class="nombre__etiqueta">Nombre:</label>
    <!-- <input [(ngModel)]="heroe.nombre" placeholder="Nombre"> -->
    <p class="parrafo_heroe">{{heroe.nombre}}</p>
  </div>
  <div class="nombre">
    <label class="nombre__etiqueta">Nombre real:</label>
    <!-- <input class="nombre-real" [(ngModel)]="heroe.nombre_real" placeholder="Nombre real"> -->
    <p class="parrafo_heroe">{{heroe.nombre_real}}</p>
  </div>
  <div class="nombre">
    <label class="nombre__etiqueta">Quién es:</label>
    <!-- <input class="nombre-real" [(ngModel)]="heroe.nombre_real" placeholder="Nombre real"> -->
    <p class="parrafo_heroe">{{heroe.descripcion}}</p>
  </div>
  <button class="btn btn-warning btn-detalles-heroe" (click)="goBack()">Volver</button>
</div>
