.cabecera-dashboard {
  margin: 3rem auto;
  text-align: center;
  color: #e53935;
}
.modulo {
  background-color: #455a64;
  color: #f5f5f5;
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
}

.modulo:hover {
  background-color: #78909c;
}

@media screen and (max-width: 767px) {
  .modulo {
    margin-bottom: 2rem;
  }
}

