<div class="row">
  <div class=" cabecera-dashboard col-md-12">
    <h2>Héroes Destacados</h2>
  </div>
</div>
<div class="row">
  <a *ngFor="let heroe of heroes"  [routerLink]="['/detail', heroe.id]">
  <div class="col-sm-3">
    <div class="modulo">
      <h4 class>{{heroe.nombre}}</h4>
    </div>
  </div>
  </a>
</div>
