<div class="row">
  <div class="col-md-12 cabecera-heroes">
    <h2>Héroes</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <ul class="heroes">
      <li *ngFor="let heroe of heroes" [class.selected]="heroe === selectedHeroe" (click)="onSelect(heroe)">
        <span class="badge">{{heroe.id}}</span>
        <span class="nombre-principal">{{heroe.nombre}}</span>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <div *ngIf="selectedHeroe">
      <h3 class="cabecera-heroe">
        {{selectedHeroe.nombre | uppercase}}
      </h3>
      <img class="imagen" src="{{selectedHeroe.imagen}}" alt="{{selectedHeroe.nombre}}">
      <button class="btn btn-warning" (click)="gotoDetail()">Ver Detalles</button>
    </div>
  </div>
</div>
