.cabecera-heroes {
  margin: 2rem auto;
  text-align: center;
  color: #ff6d00;
}

.cabecera-heroe {
  margin-top: 0;
}

.imagen {
  max-width: 100%;
  border-radius: 5px;
  margin: 2rem 0;
}

.selected {
  background-color: #3498db !important;
  color: #fff;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2.2em;
  border-radius: 4px;
}

.nombre-principal {
  vertical-align: top;
}

.heroes li.selected:hover {
  background-color: #bbd8dc;
  color: #ddd;
}

.heroes li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: .1em;
}

.heroes .text {
  position: relative;
  top: -3px;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607d8b;
  line-height: .8em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.3em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}